.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 51.5px;
    }

    &__controls{
        display: flex;
        flex-shrink: 0;
        gap: 33px;

        @media screen and (min-width: 768px) {
            gap: 53px;
        }
    }

    &__icon{
        height: 32px;

        @media screen and (min-width: 768px) {
            height: 36.5px;
        }
    }
}

.fonts-select{
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    align-items: center;
    position: relative;

    @media screen and (min-width: 768px) {
        gap: 18px;
    }
    
    &::after{
        position: absolute;
        content: '';
        top: -4px;
        bottom: -4px;
        width: 1px;
        background-color: var(--light-gray);
        left: calc(100% + 16px);

        @media screen and (min-width: 768px) {
            left: calc(100% + 26px);
        }
    }

    &__text{
        font-size: var(--body-small-size);
        line-height: var(--body-medium-line);
        font-weight: bold;
        word-break: keep-all;

        @media screen and (min-width: 768px) {
            font-size: var(--body-medium-size);
        }
    }

    &__icon{
        width: 12px;
    }
}

.theme-select{
    display: flex;
    gap: 12px;
    align-items: center;

    @media screen and (min-width: 768px) {
        gap: 20px;
    }
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray);
        -webkit-transition: .4s;
        transition: .4s;

        &:hover {
            background-color: var(--light-gray);
        }

        &.round {
            border-radius: 12px;
        }

        &.round:before {
            border-radius: 50%;
        }

        &::before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}