.search-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 43px;
    }

    &__input{
        width: 100%;
        padding: 16px 24px;
        background-color: var(--dark-white);
        border: none;
        border-radius: 16px;
        color: var(--light-black);
        font-size: 16px;
        

        &:active, &:focus{
            outline: 1px solid var(--purple);
        }

        @media screen and (min-width: 768px) {
            padding: 20px 24px;
            font-size: var(--heading-small-size);
        }
    }

    .error-message{
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        font-size: var(--heading-small-size);
        color: var(--red);
        
        & + .search-bar__input{
            outline: 1px solid var(--red);
        }
    }

    &__button{
        position: absolute;
        width: 16px;
        height: 16px;
        border: none;
        right: 24px;
        background-color: transparent;
        background-image: url(./assets/icon__loupe.svg);
        background-size: 100% 100%;
    }
}

.result{
    &__content{
        position: relative;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            top: calc(100% + 32px);
            background-color: var(--light-gray);
        }
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--light-black);
        
        &-text{
            display: flex;
            flex-direction: column;
            column-gap: 8px;
        }
    }

    &__title{
        font-size: 32px;
        font-weight: bold;

        @media screen and (min-width: 768px) {
            font-size: var(--heading-large-size);
            line-height: var(--heading-large-line);
        }
    }

    &__phonetic{
        color: var(--purple);
        font-size: var(--body-medium-size);
        line-height: var(--body-medium-line);
    }

    &__button{
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba($color: #a445ed, $alpha: .25);
        border: none;
        transition: background-color .3s;

        &:hover{
            background-color: var(--purple);
            cursor: pointer;
            
            &::after{
                border-left: 13px solid white;

                @media screen and (min-width: 768px) {
                    border-left: 21px solid white;
                }
            }
        }

        @media screen and (min-width: 768px) {
            height: 75px;
            width: 75px;
        }

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 19px;
            transform: translateY(-50%);
            transition: border-left .3s;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 13px solid var(--purple);
            
            @media screen and (min-width: 768px) {
                left: 29px;
                border-top: 11px solid transparent;
                border-bottom: 11px solid transparent;
                border-left: 21px solid var(--purple);
            }
        }
    }
}

.result__item-header{
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: var(--body-medium-size);
    color: var(--light-black);
    font-style: italic;
    font-weight: bold;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    
    @media screen and (min-width: 768px) {
        font-size: var(--heading-medium-size);    
    }

    &::after{
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--light-gray);
    }
}

.meaning{
    &__header{
        font-size: 16px;
        color: var(--gray);
        font-weight: 400;
        margin-bottom: 17px;

        @media screen and (min-width: 768px) {
            font-size: var(--heading-small-size);
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        line-height: var(--body-medium-line);
        gap: 13px;
        color: var(--light-black);
        margin-bottom: 24px;
        font-size: var(--body-small-size);

        @media screen and (min-width: 768px) {
            font-size: var(--body-medium-size);
        }
    }

    &__item{
        padding-left: 25px;
        list-style: none;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            border-radius: 50%;
            left: 0;
            top: 10px;
            width: 5px;
            height: 5px;
            background-color: var(--purple);
        }

        &-example{
            display: block;
            margin-top: 13px;
            color: var(--gray);
        }
    }
}

.result__footer{
    color: var(--gray);
    font-size: 16px;

    @media screen and (min-width: 768px) {
        font-size: var(--heading-small-size);
    }

    &-accent{
        color: var(--purple);
        font-weight: bold;
        margin-left: 16px;
    }
}

.result__sources{
    margin-top: 57px;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 20px;
    }
}

.result__sources-title{
    font-size: var(--body-small-size);
    line-height: var(--body-small-size);
    color: var(--gray);
    position: relative;
    width: fit-content;
    height: fit-content;
    font-weight: 400;

    &::after{
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: var(--gray);
    }
}

.result__sources-links{
    margin-top: 8px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.result__sources-link{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: var(--light-black);
    font-size: var(--body-small-size);
    line-height: var(--body-small-size);
    text-decoration: none;
}

.underline{
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        top: 100%;
        background-color: var(--black);
    }
}

.result__sources-image{
    margin-left: 9px;
    width: 12px;
    height: 12px;
}